source:
  type: folder                # folder|video|rtsp|gige
  uri: "datasets/web_raw"

engine:
  type: onnx                # onnx|rknn
  model: "artifacts/models/best.onnx"
  imgsz: 640

nms:
  conf_thres: 0.25
  iou_thres: 0.60
  topk: 1000

perf:
  warmup: 5
  async: false

output:
  type: tcp                 # tcp|udp|file
  ip: "12.0.0.1"
  port: 9000

classes: "config/person_classes.txt"
